.uk-alert-danger {
    background: #a10020 !important;
    color: #f0506e;
}

.welcome-back-text{
    color: white;
}

span.uk-align-center.welcome-back-text {
    margin-left: 10%;
}

textarea.uk-textarea.uk-form-width-large {
    border-radius: 10px !important;
}

.uk-width-1-4.uk-card.uk-card-default.uk-card-body {
    background: #0d3283;
    color: white !important;
}

.uk-form-icon:not(.uk-form-icon-flip)~.uk-input {
    padding-left: 40px !important;
    color: #fafafa !important;
}


.uk-form-icon:not(.uk-form-icon-flip)~.uk-input {
    padding-left: 40px !important;
    color: #cacaca !important;
}

input.uk-input {
    color: red !important;
}

input.uk-input {
    border-radius: 20px;
    height: 34px;
    color: black !important;
    /* background: #0f2861; */
    background-color: rgba(255,255,255,.1);
    color: rgba(255,255,255,0.5);
    background-clip: padding-box;
    border-color: rgba(255,255,255,.2);
}

a.uk-button.uk-button-default {
    color: white;
    background: #0f2861;
    border-color: #0f2861;
    border-radius: 20px;
}

.uk-table-middle, .uk-table-middle td {
    vertical-align: middle!important;
    color: white;
}

button.uk-button.uk-button-primary {
    color: white !important;
    border-radius: 50px;
    background: #0f2861 !important;
}

button.uk-button.uk-button-default {
    background: #255dda !important;
}



.uk-card-primary.uk-card-body, .uk-card-primary>:not([class*=uk-card-media]), .uk-card-secondary.uk-card-body, .uk-card-secondary>:not([class*=uk-card-media]), .uk-light, .uk-offcanvas-bar, .uk-overlay-primary, .uk-section-primary:not(.uk-preserve-color), .uk-section-secondary:not(.uk-preserve-color), .uk-tile-primary:not(.uk-preserve-color), .uk-tile-secondary:not(.uk-preserve-color) {
    color: rgba(255,255,255,0.5);
    background: #001954;
}

.uk-width-1-4.uk-card.uk-card-default.uk-card-body {
    background: #255dda;
    color: white !important;
}

.account-dash{
    color: white;
}

li.uk-parent {
    font-size: 15px !important;
}

.uk-alert-success {
    background: #009d34 !important;
    color: #32d296;
}

.uk-button.uk-button-danger {
    border-radius: 50px;
    background: #a20909;
}

button.uk-button.uk-button-danger {
    border-radius: 50px;
    background: #a20909;
}

.uk-select:not([multiple]):not([size]) {
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 20px;
    background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2224%22%20height%3D%2216…66%22%20points%3D%2212%2013%209%208%2015%208%22%20%2F%3E%0A%3C%2Fsvg%3E%0A);
    background-repeat: no-repeat;
    background-position: 100% 50%;
    border-radius: 50px;
    background-color: rgba(255,255,255,.1);
    color: rgba(255,255,255,0.5);
    background-clip: padding-box;
    border-color: rgba(255,255,255,.2);
}


.uk-button-success {
    color: white !important;
    border-radius: 50px;
    background: #09a264 !important;
}

.uk-button-paid {
    color: white !important;
    border-radius: 50px;
    background: #09a264 !important;
}



button.uk-button.uk-button-success {
    color: white !important;
    border-radius: 50px;
    background: #09a264 !important;
}

button.uk-button.uk-button-paid {
    color: white !important;
    border-radius: 50px;
    background: #09a264 !important;
}

input.uk-input.uk-form-width-large {
    color: white !important;
}

button.uk-button.uk-button-default {
    background: #475d90 !important;
    color: #ffffff !important;
    border: 0px;
    border-radius: 50px;
}

.uk-button-primary {
    background: #475d90 !important;
    color: #fff !important;
    border: 1px solid transparent;
    border-radius: 250px;
}

.ck.ck-button.ck-on, a.ck.ck-button.ck-on {
    background: var(--ck-color-button-on-background);
}

input#calendar-tomorrow {
    background-color: rgba(255,255,255,.1);
    background-clip: padding-box;
    border-color: rgba(255,255,255,.2);
    color: rgba(255,255,255,0.5) !important;
}

.ck-rounded-corners .ck.ck-editor__main>.ck-editor__editable, .ck.ck-editor__main>.ck-editor__editable.ck-rounded-corners {
    background: #132653 !important;
    border-radius: var(--ck-border-radius);
    border-top-left-radius: 0;
    border: 10px !important;
    border-top-right-radius: 0;
}

.ck.ck-toolbar {
    background: #ffffff !important;
    padding: 0 var(--ck-spacing-small);
    border: 1px solid var(--ck-color-toolbar-border);
}