.uk-alert-danger {
    background: #a10020 !important;
    color: #f0506e;
}

.uk-alert-success {
    background: #009d34 !important;
    color: #32d296;
}

.uk-button-primary {
    background-color: #1e87f0 !important;
    color: #fff !important;
    border: 1px solid transparent;
}

.ck.ck-button.ck-on, a.ck.ck-button.ck-on {
    background: var(--ck-color-button-on-background);
}

.ck-rounded-corners .ck.ck-editor__main>.ck-editor__editable, .ck.ck-editor__main>.ck-editor__editable.ck-rounded-corners {
    background: #333333 !important;
    border-radius: var(--ck-border-radius);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.ck.ck-toolbar {
    background: #ffffff !important;
    padding: 0 var(--ck-spacing-small);
    border: 1px solid var(--ck-color-toolbar-border);
}